/* add background image to webpage */
body {
    position:relative;
    background-image: url("../images/background.png");
    background-repeat: repeat;
}

/* setup sticky footer */
footer {
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #f5f5f5;
}

/* sets border and background to my preferred shade of blue */
.bg-myblue {
    background-color: #68b;
    border-color: #57a;
}

/* set text color to my preferred shade of blue */
.text-myblue {
    color: #68b;
}

/* set size of portrait in index */
#portrait {
    width:250px;
}

/* in portfolio, set size of carousel images */
.carousel-item .a .img-fluid {
    max-width: 100%;
    height: 700px;
  }

/* center images in carousel */
.carousel-inner a img, .carousel-inner a img {
    margin: auto;
  }

/* make caption slightly see through for visual appeal */
.carousel-caption {
    opacity: .9;
}

/* change color of carousel scroll buttons */
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%239bf' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%239bf' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }

/* Animations */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0);
    }
}

/* flashes the background from blue to light blue and back */
@keyframes flashBG {
    0% {
        background-color: #57a;
    }
    50%{
        background-color: #68b;
    }
    100% {
        background-color: #57a;
    }
}

/*animation on load for brand in navbar */
.navbar-brand {
    animation: .4s 0s 1 flashBG;
}

/* animation on load for the header of the main content */
.card-header {
    animation: .4s ease-out 0s 1 slideInFromRight;
}

/* animation on load for the body of the main content */
.card-body {
    animation: .4s ease-out 0s 1 slideInFromLeft;
}

/* different color for hover on nav bar links */
.nav-item:hover {
    background-color: #bdf;
}

/* change image sizes at resolution breakpoints */
@media screen and (max-width:992px){
    #portrait {
        width:300px;
    }

    .carousel-item .a .img-fluid {
        height: 600px;
      }
}

@media screen and (max-width:768px){

    #portrait {
        width:250px;
    }

    .carousel-item .a .img-fluid {
        height: 500px;
      }
}

@media screen and (max-width:576px) {
    /* Unstick the footer at smallest resolution */
    footer{
        position:relative;
    }

    /* Make portrait take up an entire row at smallest resolution */
    #portrait {
        width:100%;
    }

    .carousel-item .a .img-fluid {
        height: 400px;
      }

    /* resize default caption bar in carousel so it doesnt clip at the smallest resolution */
    .carousel-caption {
        left:0px;
        right:0px;
        margin-left: auto;
        margin-right: auto;
        width:300px;
    }
}