/* add background image to webpage */
body {
    position:relative;
    background-image: url("../images/background.png");
    background-repeat: repeat;
}

/* setup sticky footer */
footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #f5f5f5;
}

/* sets border and background to my preferred shade of blue */
.bg-myblue {
    background-color: #68b;
    border-color: #57a;
}

/* set text color to my preferred shade of blue */
.text-myblue {
    color: #68b;
}

/* set size of portrait in index */
#portrait {
    width:250px;
}

.carousel-item .a .img-fluid {
    max-width: 100%;
    height: 700px;
  }

.carousel-inner a img, .carousel-inner a img {
    margin: auto;
  }

.carousel-caption {
    opacity: .9;
}

@media screen and (max-width:992px){
    #portrait {
        width:300px;
    }

    .carousel-item .a .img-fluid {
        max-width: 100%;
        height: 600px;
      }
}

@media screen and (max-width:768px){
    #portrait {
        width:250px;
    }

    .carousel-item .a .img-fluid {
        max-width: 100%;
        height: 500px;
      }
}

@media screen and (max-width:576px) {
    /* Unstick the footer at smallest resolution */
    footer{
        position:relative;
    }

    /* Make portrait large at smallest resolution */
    #portrait {
        width:100%;
    }

    .carousel-item .a .img-fluid {
        max-width: 100%;
        height: 400px;
      }

    .carousel-caption {
        left:0px;
        right:0px;
        margin-left: auto;
        margin-right: auto;
        width:300px;
    }
}